EXPO_WEB_SOURCEMAP=true
EXPO_PUBLIC_APP_VERSION=1.0.0
EXPO_PUBLIC_SITE_URL=https://sub.domain.de
EXPO_PUBLIC_GOOGLE_SITE_VERIFICATION=
APP_DESCRIPTION=Portfolio
APP_NAME=AboutMe
BASE_URL=https://sub.domain.org
CONTAINER_REGISTRY=cr.domain.org/project
DOCKER_PASSWORD=DOCKER_PASSWORD
DOCKER_USERNAME=DOCKER_USERNAME
IMAGE=aboutme
PACKAGE=com.doamin.aboutme
SCHEME=aboutme
