EXPO_WEB_SOURCEMAP=false
EXPO_PUBLIC_APP_VERSION=1.1.0
EXPO_PUBLIC_SITE_URL=https://sub.domain.de
EXPO_PUBLIC_GOOGLE_SITE_VERIFICATION=
EXPO_OWNER=your-expo-owner
EXPO_SLUG=aboutme
APP_DESCRIPTION=Portfolio
APP_NAME=AboutMe
BASE_URL=https://sub.domain.org
CONTAINER_REGISTRY=cr.domain.org/project
DOCKER_PASSWORD=DOCKER_PASSWORD
DOCKER_USERNAME=DOCKER_USERNAME
DEPLOY_TARGET_DIR=/var/www/html
IMAGE=aboutme
PACKAGE=com.doamin.aboutme
SCHEME=aboutme
