# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# TypeDoc
docs/

# Tests
coverage/
playwright-report/
playwright-artifacts.zip
tests/playwright/results
test-results/
*-20??????T??????.json
*Report.pdf

# Build output
.cache/
dist/

# GIT
.git/
.idea/
.vscode/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.aboutme/

# typescript
*.tsbuildinfo

# app
# remove them after fork
app-data.json
public/images/
public/logo.png
public/logo.svg
public/logo.ico
public/logo_*.png
public/logo_*.webp
public/favicon.ico
public/favicon.png
public/favicon.svg
public/bg.jpg
public/bg.webp
public/app-data.json
public/DE/
public/EN/
public/files/
public/site.webmanifest
public/sw.js
public/robots.txt
public/sitemap.xml
public/llms.txt
nginx/site.conf
nginx/.htpasswd

# local review artifacts
/*-issue-*.png
/*-issue.png
/*-issue-*.App
