# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# TypeDoc
docs/

# Tests
playwright-report/
tests/playwright/results

# Expo
.expo/
dist/
web-build/

# GIT
.git/
.idea/
.vscode/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
expo-env.d.ts
.env*.local
.aboutme/

# typescript
*.tsbuildinfo

# app
# remove them after fork
app-data.json
public/images/
public/logo.png
public/logo.svg
public/logo.ico
public/logo_*.png
public/logo_*.webp
public/favicon.ico
public/favicon.png
public/favicon.svg
public/bg.jpg
public/bg.webp
public/site.webmanifest
public/robots.txt
public/sitemap.xml
nginx/site.conf
